#Loginwrp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.int{
    width: 15vw;
    border: 1px solid rgb(201, 190, 190);
    border-radius: 5px;
    height: 5vh;
}
.noaccount{
    padding-left: 8vw;
    color: black;
    font-size: 14px;
    text-decoration: none;
}
.checkbox{
    padding-right: 8vw;
    font-size: 14px;
    margin: 1vh 0 2vh 0;
}
.Loginbtn{
    width: 6vw;
    height: 4vh;
    background-color: #40A9FF;
    color: white;
    border: none;
}
.Loginbtn:hover{
    background-color: #1890FF;
}
.tip1{
    font-size: 14px;
    color: red;
    width: 13vw;
}